<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>POSTS</h1>
<ol class = "post-list">
    <% results.forEach(function(post) {%>
        <li class = "post">
            <img class = "post-image" src=<%= post.imageUrl %> alt = "Post Image" height = "150" width = "150" />
            <!-- <p>Id: <%= post.id %></p>  -->
            <p class = "post-message"><%= post.message %></p> 
            <p class = "post-posted-by">Posted by <%= post.postedBy.name %> on <%= post.createdAt %></p> 
            <p class = "post-posted-by"><span>Likes: </span><%= post.likedBy.length %><span> Dislikes: </span><%= post.dislikedBy.length %></p> 
        </li>
    <% }); %>
</ol>
    <%if (previous) { %>
    <a class = "previous" href="<%= previous %>">Previous</a>
    <% } %>
    <%if (next) { %>
    <a class = "next" href="<%= next %>">Next</a>
    <% } %>
</body>
<%- include('_footer') -%>
</html>