<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<div class = "user-detail-header">
     
    <img class = "cover-image"
        src = "<%=  coverImageUrl %>" 
        alt = "<%= name %>" 
        height = "150" 
        width = "150" 
    />
  
       
    <img class = "profile-image"
        src = "<%=  profileImageUrl %>" 
        alt = "Profile Image>" 
        height = "150" 
        width = "150" 
    />
       
    <div class="user-details">
        <p class="name"><%= name %></p>
        <p class="username"><%= username %></p>
        <p class="email"><%= email %></p>
    </div>
              
</div>

<h2 class = "user-header"><%= name %>'s Posts</h2>

<ol class = "post-list">
    <% posts.forEach(function(post) {%>
        <li class = "post">
            <img class = "post-image" src=<%= post.imageUrl %> alt = <%= post.message %> height = "150" width = "150" />
            <p class = "post-posted-by"><%= username %> </p> 
            <p class = "post-date"> <%= post.createdAt %></p> 
            <p class = "post-message"><%= post.message %></p> 
        </li>
    <% }); %>
</ol>

 
</body>
<%- include('_footer') -%>
</html>