<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<ol>
    <% results.forEach(function(user) {%>
    <li>
        <img 
            src = "<%=  user.profileImageUrl %>" 
            alt = "<%= user.name %>" 
            height = "150" 
            width = "150" 
        />
        <img 
            src = "<%=  user.coverImageUrl %>" 
            alt = "<%= user.name %>" 
            height = "150" 
            width = "150" 
        />
        <p> <em><%= user.name %></em></p>  
        <p> Number of posts: <em><%= user.posts.length %></em> </p>
        <p> Likes: <em><%= user.likes.length %></em> Dislikes: <em><%= user.dislikes.length %></em></p> 
       
    </li>
    <% }); %>
</ol>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>

</body>
<%- include('_footer') -%>
</html>